{% extends 'base_template.html' %}
{% block content %}
<section class="container">
  <div class="left-panel">
    Hi, I'm
    <span class="name anim1">Giovanni</span>
    <span class="name anim1">Comma,</span>
    <p class="description anim1">
      italian <strong>UI, UX</strong> designer from Modena
    </p>

    <p class="find-me anim1">Find me on</p>
    <p>
      <i class="fab fa-behance-square icon"></i><i class="fab fa-instagram icon"></i><i
        class="fab fa-pinterest-square icon"></i><i class="fab fa-linkedin icon"></i><i
        class="fab fa-tumblr-square icon"></i>
    </p>
  </div>
  <div class="right-panel"></div>

  <div class="scroll-icon">portfolio <i class="fas fa-angle-double-down"></i></div>
</section>

<section class="portfolio">
  <h1 class="title blue">My portfolio</h1>
  <div class="portfolio-content">
    <div class="row">
      <div class="row-left">
        <a href="https://www.scitajKV.space" alt="https://www.scitajKV.space" target="_blank">scitajKV.space <i
            class="fas fa-arrow-circle-right right"></i></a>
        <p>

          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus vehicula neque eget congue. Integer
          vitae turpis a nunc interdum tristique. Cras quis tellus sit amet ipsum volutpat condimentum. Nullam viverra
          luctus libero, sed varius sem hendrerit quis. Cras euismod fermentum lacus. Nullam semper varius ligula, a
          imperdiet massa molestie id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
      </div>
      <div class="row-right swimmer">
      </div>

    </div>

    <div class="row">
      <div class="row-left">
        <a href="https://www.vialleman.sk" alt="https://www.vialleman.sk" target="_blank">vialleman.sk <i
            class="fas fa-arrow-circle-right right"></i></a>
        <p>

          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus vehicula neque eget congue. Integer
          vitae turpis a nunc interdum tristique. Cras quis tellus sit amet ipsum volutpat condimentum. Nullam viverra
          luctus libero, sed varius sem hendrerit quis. Cras euismod fermentum lacus. Nullam semper varius ligula, a
          imperdiet massa molestie id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
      </div>
      <div class="row-right swimmer">
      </div>

    </div>


    <div class="row">
      <div class="row-left">
        <a href="https://www.plavarenmajernikova.sk" alt="https://www.plavarenmajernikova.sk"
          target="_blank">plavarenmajernikova.sk <i class="fas fa-arrow-circle-right right"></i></a>
        <p>

          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus vehicula neque eget congue. Integer
          vitae turpis a nunc interdum tristique. Cras quis tellus sit amet ipsum volutpat condimentum. Nullam viverra
          luctus libero, sed varius sem hendrerit quis. Cras euismod fermentum lacus. Nullam semper varius ligula, a
          imperdiet massa molestie id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
      </div>
      <div class="row-right swimmer">
      </div>

    </div>

    <div class="row">
      <div class="row-left">
        <a href="https://www.mliecko.store" alt="https://www.mliecko.store" target="_blank">mliecko.store <i
            class="fas fa-arrow-circle-right right"></i></a>
        <p>

          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus vehicula neque eget congue. Integer
          vitae turpis a nunc interdum tristique. Cras quis tellus sit amet ipsum volutpat condimentum. Nullam viverra
          luctus libero, sed varius sem hendrerit quis. Cras euismod fermentum lacus. Nullam semper varius ligula, a
          imperdiet massa molestie id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
      </div>
      <div class="row-right swimmer">
      </div>

    </div>

    <div class="row">
      <div class="row-left">
        <a href="https://www.wedr.space" alt="https://www.wedr.space" target="_blank">wedr.space <i
            class="fas fa-arrow-circle-right right"></i></a>
        <p>

          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus vehicula neque eget congue. Integer
          vitae turpis a nunc interdum tristique. Cras quis tellus sit amet ipsum volutpat condimentum. Nullam viverra
          luctus libero, sed varius sem hendrerit quis. Cras euismod fermentum lacus. Nullam semper varius ligula, a
          imperdiet massa molestie id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
      </div>
      <div class="row-right swimmer">
      </div>

    </div>

    <div class="row">
      <div class="row-left">
        <a href=" https://www.majetokkv.online/" alt=" https://www.majetokkv.online/" target="_blank">majetokkv.online
          <i class="fas fa-arrow-circle-right right"></i></a>
        <p>

          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec maximus vehicula neque eget congue. Integer
          vitae turpis a nunc interdum tristique. Cras quis tellus sit amet ipsum volutpat condimentum. Nullam viverra
          luctus libero, sed varius sem hendrerit quis. Cras euismod fermentum lacus. Nullam semper varius ligula, a
          imperdiet massa molestie id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
      </div>
      <div class="row-right swimmer">
      </div>

    </div>



  </div>
</section>
{% endblock %}